
    <h1>THE ACCELEROMETER DATA </h1>
    <img src="https://www.researchgate.net/profile/Zunyi-Tang/publication/254036775/figure/fig2/AS:669072610037766@1536530749380/The-schematic-of-the-sleep-monitoring-system.jpg" />
    <div class="row">
  	<div class="col-4">
    	<div class="card">
  			<div class="card-header">
             
  			</div>
  		<div class="card-body">
    <h5 class="card-title">Data Visualizationn</h5>
                <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/2131189/charts/1?api_key=4VTQCHL9XG541TX4&bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=X-AXIS+accelerometer+data&type=line&xaxis=time&yaxis=acceleration+in+X+axis+in+a+3d+space"></iframe>

  </div>
</div></div>

    <div class="col-4">
    	<div class="card">
  			<div class="card-header">
             
  			</div>
  		<div class="card-body">
    <h5 class="card-title">Data Visualizationn</h5>
                <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/2131189/charts/2?api_key=4VTQCHL9XG541TX4&bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Y-AXIS+accelerometer+data&type=line&xaxis=time&yaxis=acceleration+in+Y+axis+in+a+3d+space"></iframe>

  </div>
</div></div>

    <div class="col-4">
    	<div class="card">
  			<div class="card-header">
             
  			</div>
  		<div class="card-body">
    <h5 class="card-title">Data Visualizationn</h5>
                <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/2131189/charts/3?api_key=4VTQCHL9XG541TX4&bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Z-AXIS+accelerometer+data&type=line&xaxis=acceleration+in+Z+axis+in+a+3d+space&yaxis=time"></iframe>


  </div>
</div></div>



 
