@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome,We care for your sleep</h1>
    <p>"Sleep is the golden chain that ties health and our bodies together." - Thomas Dekker</p>
</div>