@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a final semester project done at sreenidhi institute of science and technology</p>
<p>Team members:</p>
<ul>
    <li>Joel Rachamudi</li>
    <br />
    <li>Vinay sai</li>
    <br />
    <li>suraj kupelli</li>

</ul>

</p>

